{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}"/>
</head>

<body>

        {% block asd %}
	    {% endblock %}

    <div class="container">

        <div class="header">
            <div class="header_top">
                네이버 클론코딩
            </div>
            <div class="header_bottom">
                <div class="navi">호연</div>
                <div class="navi">재환</div>
                <div class="navi">광일</div>
                <div class="navi">승욱</div>
                <div class="navi">규리</div>
                <div class="navi">수훈</div>
                <div class="navi">주연</div>
                <div class="navi">유림</div>
                <div class="navi">소연</div>
                <div class="navi">영윤</div>
            </div>
        </div>

        <div class="content">
            <div class="content_left">
                <div class="left_box1">
                    광고
                </div>
                <div class="left_box2">
                    기사
                </div>
                <div class="left_box3">
                </div>
            </div>
            <div class="content_right">
                <div class="right_box1">
                    로그인
                </div>
                <div class="right_box2">
                    그 외 것들
                </div>
                <div class="right_box3">
                </div>
            </div>
        </div>

        <div class="footer">
            <h2>여기가 푸터</h2>
        </div>

    </div>

</body>

</html>